In [ ]:
# n number of photos
# nv number of vertical photos
# nh number of horizontal photos
# ....

In [94]:
from pathlib import Path
import os


# load example file 
data_path = Path('./dataset/qualification_round_2019.in')

data = {}
for dataset in os.listdir(data_path):
    with open(data_path/dataset) as d:
        doc_total = d.readline()
        data[dataset] = []
        for line in d:
            data[dataset].append(line.strip().split(' '))

In [97]:
data.keys()

dict_keys(['a_example.txt', 'b_lovely_landscapes.txt', 'c_memorable_moments.txt', 'd_pet_pictures.txt', 'e_shiny_selfies.txt'])

In [98]:
data['a_example.txt']

[['H', '3', 'cat', 'beach', 'sun'],
 ['V', '2', 'selfie', 'smile'],
 ['V', '2', 'garden', 'selfie'],
 ['H', '2', 'garden', 'cat']]

In [211]:
def build_slides(data_file):
    
    
    photo_list = data[data_file]
    v_dict = {}
    h_dict = {}
        
    for photo in photo_list:
        
        if photo[0] == 'V':
            v_dict[photo_list.index(photo)]= photo[2:]
        
        else:
            h_dict[photo_list.index(photo)]=photo[2:]
        
    # pair up the vertical images randomly
    v_pairs = itertools.combinations(v_dict,2)
    
    nv_dict = {}

    for keys in v_pairs:
        nv_dict[keys] = list(set(v_dict[keys[0]] + v_dict[keys[1]]))

    #combined dict
    slide_dict = {**nv_dict, **h_dict}
    
    return (slide_dict)

In [244]:
from itertools import combinations
s_dict = build_slides('a_example.txt')

In [250]:
s_dict

{(1, 2): ['smile', 'selfie', 'garden', 1],
 0: ['cat', 'beach', 'sun', 1],
 3: ['garden', 'cat', 1]}

In [251]:
slideshow = {}
#key, value = s_dict.popitem()
#slideshow[key] = value

for index, (key, values) in enumerate(s_dict.items()):
    if index == 0:
        slideshow[key] = values
        s_dict.pop(key)
    else:
        for n_key, n_values in s_dict.items():
            # get tags
            n = len(slideshow)
            
            previous_tags = list(slideshow.values())[n-1]
            
            intersection = set(n_values) & set(previous_tags)
            previous_only = list(set(previous_tags) - intersection)
            current_only = list(set(n_values) - intersection)        
        
            candidates = {}
            # add all pictures meeting conditions in list
        
            if len(intersection) > 0 and len(previous_only) > 0 and len(current_only) > 0:
                candidates[n_key] = n_values
                score = min(len(intersection) , len(previous_only), len(current_only))
                candidates[n_key].append(score)
        
        
        # get the candidate with max score and add as next slide
        score_list = []
        for k,v in candidates.items():
            score_list.append(candidates[k][-1])
        
               
        if score_list: 
            max_score = max(score_list)
            next_list = [k for k in candidates.keys() if candidates[k][-1] == max_score]
            slideshow[k] = s_dict[k]
            s_dict.pop(k)

RuntimeError: dictionary changed size during iteration

In [247]:
slideshow

{(1, 2): ['smile', 'selfie', 'garden', 1], 3: ['garden', 'cat', 1]}

In [249]:
s_dict

{(1, 2): ['smile', 'selfie', 'garden', 1],
 0: ['cat', 'beach', 'sun', 1],
 3: ['garden', 'cat', 1]}

In [221]:
# write output file

In [ ]:
# old implementation with df

import pandas as pd

df=pd.DataFrame(photo_list)


def slide_builder():
    total_H = len(df[df[0]=='H'])
    total_V = len(df[df[0]=='V'])
    
    if total_V % 2 != 0:
        total_V = total_V - 1
    
    total_slides = total_H + total_V
    
    return(total_slides, slide_photos)

In [ ]:
df["id"] = df.index

In [26]:
df

   0  1       2       3     4  id
0  H  3     cat   beach   sun   0
1  V  2  selfie   smile  None   1
2  V  2  garden  selfie  None   2
3  H  2  garden     cat  None   3

In [22]:
df_H = df[df[0]=='H']

df_H

   0  1       2      3     4  id
0  H  3     cat  beach   sun   0
3  H  2  garden    cat  None   3

In [ ]:
df_vertical = df[df[0]=='V']
# make pairs

In [55]:
df_vertical

   0  1       2       3     4  id
1  V  2  selfie   smile  None   1
2  V  2  garden  selfie  None   2

In [ ]:
# keep all keywords once except for None