In [ ]:
# n number of photos
# nv number of vertical photos
# nh number of horizontal photos
# ....

In [2]:
from pathlib import Path

# load example file 
data_path = Path('./dataset/qualification_round_2019.in')

data = []
with open(data_path/'a_example.txt') as f:
    for line in f:
        data.append(line.strip().split(' '))

In [3]:
data

[['4'],
 ['H', '3', 'cat', 'beach', 'sun'],
 ['V', '2', 'selfie', 'smile'],
 ['V', '2', 'garden', 'selfie'],
 ['H', '2', 'garden', 'cat']]

In [5]:
total_photos = int(data[0][0])

In [9]:
photo_list = []

for photo in range(1,total_photos+1):
    photo_list.append(data[photo])

In [10]:
photo_list

[['H', '3', 'cat', 'beach', 'sun'],
 ['V', '2', 'selfie', 'smile'],
 ['V', '2', 'garden', 'selfie'],
 ['H', '2', 'garden', 'cat']]

In [12]:
import pandas as pd

df=pd.DataFrame(photo_list)

In [13]:
df

   0  1       2       3     4
0  H  3     cat   beach   sun
1  V  2  selfie   smile  None
2  V  2  garden  selfie  None
3  H  2  garden     cat  None

In [19]:
total_H = df[df[0]=='H']

total_H

   0  1       2      3     4
0  H  3     cat  beach   sun
3  H  2  garden    cat  None

In [ ]:
def slide_builder:
    total_H = len(df[df[0]=='H'])
    total_V = len(df[df[0]=='V'])
    
    if total_V % 2 != 0:
        total_V = total_v - 1
    
    total_slides = total_H + total_V
    
    return(total_slides, slide_photos)